header {
    border-bottom: 1px solid black;
}

h1 {
    margin: 0 0 0 20px;
    font-size: 2em;
}

nav {
    display: flex;
    margin-right: 60px;
}

.topbtn {
    height: 60px;
    border-bottom: 0;
}

.topbtn:last-child {
    border-left: 0;
}

main {
    margin: 40px 60px 0;
}
